{% extends '::base.html.twig' %}
{% block title %} Mangocele.cr {% endblock %}
{% block stylesheets %}{% endblock %}
{% block jsfiles %}
    <script type="text/javascript" src="{{ asset('js/modernizr.custom.js') }}" ></script>
{% endblock %}
{% block body %}

    <div class="content-wrapper">
        <div class="header-banner"><img src="http://placehold.it/1100x110"></div>
        <h1>Categorias</h1>

        <div class="category-list">
            <div class="left-panel visible-lg">
                <h4>Mostrando todas las categorías</h4>
                <div>
                    Todo lo que buscas y mas.
                </div>
            </div>
            <div class="right-panel">
                <ul class="nav nav-stacked">
                    {% for categoria in categorias %}
                        <li><a href="/categorias/{{ categoria }}">{{ categoria }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    <div class="clearfix"></div>
        <hr>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}