{% extends 'MangoceleAdminBundle:Default:adminBase.html.twig' %}
{% block pagetitle%}Productos Editar{% endblock %}
{% block breadcrumbs%}Productos{% endblock %}
{% block body -%}
    <a href="{{ path('admin_productos_new') }}" class="btn btn-blue pull-right">
        Crear Producto
    </a>

    {{ form(edit_form) }}
    {{ form(delete_form) }}
{% endblock %}
    {% block scripts %}
        <script>
            jQuery(document).ready(function() {
                App.setPage("table_managed");
                App.init(); // init the rest of plugins and elements
                $('#productos').addClass('active');
                $('#mangocele_userbundle_user_password').val('');
            });
        </script>
    {% endblock %}
